{% extends 'messageboard/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Topics</h2>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="row">
        {% for topic in topics %}
        <div class="col-md-8 pb-md-2">
            <h3><a href="{{ topic.get_url }}">{{ topic.title }}</a></h3>
        </div>
        <div class="col-md-4 pb-md-2">
            <p><i>Threads:</i> {{ topic.threads.count }}</p>
        </div>
        {% empty %}
        <div class="col-md-8">
            <i>No topics to display</i>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
